.projects {
  h1 {
    text-align: center;
  }
  .carousel {
    margin-left: 30px;
    font-size: 20px;
    .item {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      .img {
        width: 50%;
        margin: inherit;
        position: relative;
        display: block;
        cursor: pointer;
        overflow: hidden;
        transition: all 400ms ease-in;
      }
      .links {
        opacity: 0;
        font-size: 40px;
        position: absolute;
        top: 30%;
        left: 40%;
        cursor: pointer;
        color: darkblue;
        background-color: rgba(200, 200, 200, 0.5);
        transition: all 400ms ease-in;
        text-align: center;
      }
       .links:hover {
        opacity: 1;
        transform: scale(3);
      }
     
    }
    .caption {
      text-align: center;
    }
  }
}
