.res {
    h1 {
        text-align: center;
    }
    .resFile{
        height: 80vh;
        width: 40vw;
        display: block;
        align-items: center;
        margin-left: 40px;
    }
    .download{
        position: fixed;
        top: 50%;
        left: 7%;
    
        h2{
            font-size: 3vw;
            transition: 400ms ease-in-out;
            
        }

        h2:hover{
            transform: scale(1.2);
        }
    }
    .techstack {
        position: fixed;
        width: 20vw;
        top: 10%;
        right: 20%;
        font-size: 10px;
        .holder{
            margin-bottom: 50px;
            h2 {
                font-size: 20px;
            }
            img{
                width: 30%;
                margin: auto;
                position: relative;
                display: block;
            }
            .carousel-indicators {
                display: none;
            }
        }

       
    }
@media screen and (max-width: 912px) {
  .download { 
    left: 10%;
   }
}
}

