.res {
    h1 {
        text-align: center;
    }
    .resFile{
        height: 80vh;
        width: 50vw;
        display: block;
        align-items: center;
    }
    .download{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-120%, 90%);
        font-size: 20px;
    }
    .techstack {
        position: absolute;
        width: 30vw;
        top: 20%;
        right: 5%;
        transform: translate(-40%, 60%);
        font-size: 20px;
    }
}

