.socialIcons {
    // position: sticky;
    margin-bottom: 0;
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 20vw);

    .icon {
        margin-right: 30%;

    }
}